.nav-item {
  display: flex;
}
.navbar {
  display: flex;
  background-color: var(--dark-bg-color);
}


.nav-banner {
  background-color: var(--dark-bg-color);
  color: var(--fg-color);
  font-size: 1.5em;
}
.nav-logo {
  justify-content: flex-start;
  padding: 0.5em;
  
}
.nav-burger {
  padding: 0.5em;
  justify-content: flex-end;
  align-self: center;
  margin-left: auto;
}
.nav-burger:hover {
  background-color: var(--light-bg-color);
}

.nav-menu {
  flex-flow: row;
  margin-left: auto;
}
/*

.burger-menu {
  justify-content: flex-end;
  margin-left: auto;
}
.nav-menu {
  display: flex;
  flex-flow: row;
  align-content: center;
  margin-left: auto;
}*/

.nav-button {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: var(--dark-bg-color);
  color: var(--fg-color);
  font-weight: bold;
}
.nav-button:nth-last-child(4){
  background-color: #f44336;
}
.nav-button:nth-last-child(3){
  background-color: #4CAF50;
}
.nav-button:nth-last-child(2){
  background-color: #ff9800;
}
.nav-button:nth-last-child(1){
  background-color: #607d8b;
}
.nav-button:hover {
  background-color: var(--light-bg-color);
}

