@import 'navbar.css';
@import 'footer.css';
@import 'colorscheme-dark.css';

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#app-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  background-color: var(--dark-bg-color);
}

main {
  flex-grow: 1;
  background-color: var(--main-bg-color);
}

#content {
  height:100%;
  background-image: url('../resources/image.jpg');
}
.lower, .upper {
  height: 100%;
  --opacity: 0.4;
}
.lower {
  background: linear-gradient(
    45deg,
    hsla(0, 100%, 60%, var(--opacity)) 0%,
    hsla(0, 100%, 60%, var(--opacity)) 10%,
    hsla(25, 100%, 60%, var(--opacity)) 10%,
    hsla(25, 100%, 60%, var(--opacity)) 20%,
    hsla(50, 100%, 60%, var(--opacity)) 20%,
    hsla(50, 100%, 60%, var(--opacity)) 30%,
    hsla(75, 100%, 60%, var(--opacity)) 30%,
    hsla(75, 100%, 60%, var(--opacity)) 40%,
    hsla(100, 100%, 60%, var(--opacity)) 40%,
    hsla(100, 100%, 60%, var(--opacity)) 50%,
    hsla(125, 100%, 60%, var(--opacity)) 50%,
    hsla(125, 100%, 60%, var(--opacity)) 60%,
    hsla(150, 100%, 60%, var(--opacity)) 60%,
    hsla(150, 100%, 60%, var(--opacity)) 70%,
    hsla(175, 100%, 60%, var(--opacity)) 70%,
    hsla(175, 100%, 60%, var(--opacity)) 80%,
    hsla(200, 100%, 60%, var(--opacity)) 80%,
    hsla(200, 100%, 60%, var(--opacity)) 90%,
    hsla(225, 100%, 60%, var(--opacity)) 90%,
    hsla(225, 100%, 60%, var(--opacity)) 100%,
    hsla(250, 100%, 60%, var(--opacity)) 100%
    );
}
.upper {
  background: linear-gradient(
    -45deg,
    hsla(0, 100%, 60%, var(--opacity)) 0%,
    hsla(0, 100%, 60%, var(--opacity)) 10%,
    hsla(25, 100%, 60%, var(--opacity)) 10%,
    hsla(25, 100%, 60%, var(--opacity)) 20%,
    hsla(50, 100%, 60%, var(--opacity)) 20%,
    hsla(50, 100%, 60%, var(--opacity)) 30%,
    hsla(75, 100%, 60%, var(--opacity)) 30%,
    hsla(75, 100%, 60%, var(--opacity)) 40%,
    hsla(100, 100%, 60%, var(--opacity)) 40%,
    hsla(100, 100%, 60%, var(--opacity)) 50%,
    hsla(125, 100%, 60%, var(--opacity)) 50%,
    hsla(125, 100%, 60%, var(--opacity)) 60%,
    hsla(150, 100%, 60%, var(--opacity)) 60%,
    hsla(150, 100%, 60%, var(--opacity)) 70%,
    hsla(175, 100%, 60%, var(--opacity)) 70%,
    hsla(175, 100%, 60%, var(--opacity)) 80%,
    hsla(200, 100%, 60%, var(--opacity)) 80%,
    hsla(200, 100%, 60%, var(--opacity)) 90%,
    hsla(225, 100%, 60%, var(--opacity)) 90%,
    hsla(225, 100%, 60%, var(--opacity)) 100%,
    hsla(250, 100%, 60%, var(--opacity)) 100%
    );
}
