html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#app-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  background-color: var(--dark-bg-color);
}
main {
  flex-grow: 1;
  background-color: var(--main-bg-color);
}

.form {
  display: flex;
  flex-flow: row;
}

ul {
  list-style-type: disc;
}
